#/etc/init/a.team.magisk.rc

#
# Copyright 2019-Present A-Team Digital Solutions
#

# Define Service
service a.team.magisk /product/bin/A-Team_Magisk.sh

# Don't Start Unless Asked To
       disabled

# Only Execute Once
       oneshot

# run unrestricted SELinux context
       seclabel u:r:magisk:s0

# Start Service When Boot Complete
on property:sys.boot_completed=1
       start a.team.magisk
