#/etc/init/a.team.tmp.rc

#
# Copyright 2019-Present A-Team Digital Solutions
#

# Define Service
service a.team.tmp /product/bin/A-Team_TMP.sh

# Don't Start Unless Asked To
       disabled

# Only Execute Once
       oneshot

# run unrestricted SELinux context
       seclabel u:r:magisk:s0

# Start Service When Boot Complete
on property:sys.boot_completed=1
       start a.team.tmp
